<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
 
  <main>
    <div class="jumbotron" style="display: flex; flex-direction:column; align-items:center;">
        <h1>Vista de Productos</h1>
        <% if(productList.length>0){ %>
            
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% productList.forEach((product) => { %>
                            <tr>
                                <td><%= product.title %></td>
                                <td><%= product.price %></td>
                                <td><img src=<%= product.url %> width="50" height="50"></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
        <% } else{ %>
            <h2 style="color: red;">No hay productos</h2>
        <% } %>
        <div>
            <a class="btn btn-primary btn-lg" href="/">Ingresar Productos</a>
          </div>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>